.header-container{
  background-color: $header-background-color;
  color: $header-color;
  padding: 10px 0;
  height: $header-height;

  .content-container{
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;

    .title-container{
      display: flex;
      justify-content: space-between;

      .sign-in-container{
        width: 100%;
      }

      .search-box{
        display: inline-block;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding-right: 5px;
        border-radius: $default-radius;
        margin-right: 10px;

        &:hover{
          background-color: rgba(0, 0, 0, 0.6);
        }

        i{
          font-size: 20px;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
      }

      button{
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;

        &:hover{
          background-color: rgba(0, 0, 0, 0.6);
        }
      }

      input{
        color: white;
        outline: none;
        background-color: transparent;
      }

      a{
        color: white;
        text-decoration: none;
        font-weight: 500;

        &:hover{
          color: rgba(255, 255, 255, 0.7);
        }
      }


    }
  }

  .menu{
    display: flex;

    .menu-item{
      margin-right: 20px;
      cursor: pointer;

      i{
        margin-left: 10px;
      }
    }
  }
}