.slider-container{
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .image-container{
    .slider-image{
      display: none;
      height: 100%;
    }

    .active{
      display: inherit;
    }
  }

  .left-step-button, .right-step-button{
    cursor: pointer;
    position: absolute;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.33);
    top: 50% -30px;
    opacity: 0;
  }

  .left-step-button{
    left: 0;
  }

  .right-step-button{
    right: 0;
  }

  &:hover{
    .left-step-button, .right-step-button{
      opacity: 1;
      transition: opacity 1s;
    }
  }
}