.item-card{
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .title{
    font-weight: bold;
    color: #585858;
  }

  .price{
    font-weight: bolder;
    color: black;
    align-self: flex-end;
  }

  img{
    width: 100%;
  }

  &:hover{
    img{
      opacity: 0.8;
      transition: opacity 0.4s;
    }
  }
}