$content-width: 650px;

$header-background-color: #182e49;
$header-color: #ffffff;
$header-height: 150px;

$thumbnail-width: 187px;
$thumbnail-height: 198px;

$footer-background-color: #f2f2f2;
$footer-color: #636363;

$border-style: 1px solid #ececec;

$default-blue: #528ec1;