@import "variables";

@import "Content";
@import "Header";
@import "Footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #585858;
}

button{
  padding: 10px;
  font: inherit;
  border: 2px solid $default-blue;
  background-color: transparent;
  cursor: pointer;
  color: $default-blue;
  border-radius: 5px;

  i{
    padding-right: 5px;
    font-size: 20px;
  }
}

.inverted{
  background-color: $default-blue;
  color: white;
}

input{
  padding: 10px;
  font: inherit;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}